<p id="notice"><%= notice %></p>

<% @recipes.each do |recipe| %>
  <div class="col-xs-6 col-md-3">
    <%= link_to image_tag(recipe.image_url(:thumb)), recipe, class: "thumbnail" %>
  </div>
<% end %>

<%= link_to 'New Recipe', new_recipe_path %>
